.header__button {
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  text-align: right;
  background-color: transparent;
  border: none;
  color: #fff;
  outline: none;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
  padding-left: 24px;
}

.header__button:hover {
  opacity: 0.6;
}
