.authorisation__submit-button {
  background-color: #fff;
  color: #000;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  width: 358px;
  height: 50px;
  align-self: center;
  margin-top: 40px;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  margin: 215px 35px 15px;
  transition: opacity 0.3s ease-in-out;
}

.authorisation__submit-button:hover {
  opacity: 0.85;
}

@media screen and (max-width: 520px) and (min-width: 320px) {
  .authorisation__submit-button {
    max-width: 238px;
    font-size: 14px;
    line-height: 17px;
  }
}
